# Node.js
node_modules/
.env
.env.local
.env.development
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Backend cụ thể
backend/.env

# Build & cache
dist/
build/
.tmp/
.temp/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db